.App {
  text-align: center;
}

.App-characterizatin {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 25px;
}
.App-link {
  color: #61dafb;
}


.App-questionnaire {
  max-width: 600px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  
}

.App-characterizatin button {
  margin: 8px;
}

.App-logo {
  width: 100%;
  max-width: 150px;

}

.persona-logo{
  width: 100%;
  max-width: 250px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20%;
  margin-left:auto;
  margin-right:'auto';
  content: ''; 
  /* position: absolute; */
  top: 100px;
  bottom: 0px;
  left: 0px;
  right: 55px;
  z-index: -1;
  border: 2px solid rgb(0, 0, 0);
  border-color: transparent #bbb;
  padding:5px;
}




/* .App-characterizatin h3 h5{
  color:'black';
  font-size:'20px'; 
  text-align:'center';
  margin-left:'auto';
  margin-right:'auto';
} */